<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <h1>About {{ book.getTitle }} :</h1>

        <h2> {{ author.getName }}</h2>
        <!-- <h3> {{ number of copy }}</h3> -->
        <form action="/rent">
            <button type="submit">Rent it</button>
        </form>
    </body>
</html>
