<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

        <title>Client</title>
    </head>
    <body>
        <div class="container">

            <h1>List of all Books:</h1>
            {% if books is not empty %}
                {% for book in books %}
                    <ul>
                        <li><a href="/{{ client.getId }}/about/{{ book.getId }}">{{ book.getTitle }}</a></li>
                    </ul>
                {% endfor %}
            {% else %}
                <h3>No books yet</h3>
            {% endif %}

            <div class="float right" style="float: right; border: dotted 2px black; padding: 10px">
                <form action="/find_book" method="post">
                    <label for="title">Search by title</label>
                    <input name="title" type="text">
                <button type="submit">Search</button>
                </form>
                <p>
                    or
                </p>
                <form action="/find_author" method="post">
                    <label for="author">Search by author</label>
                    <input name="author" type="text">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </body>
</html>
