<html>
    <head>
        <title>Who are you</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
<a href="/librarian"><h1>Librarian</h1></a>
<a href="/client"><h1>Client</h1></a>
    </body>
</html>
