<html>
    <head>
        <title>Log IN</title>
    </head>
    <body>
        <h1>Login In</h1>
        <form action="/client" method="post">
            <label for="name">Enter your name:</label>
            <input type="text" name="name" required>
            <label for="id">Enter your id :</label>
            <input type="number" name="id" required>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
