<html>
<head>
    <title>Rent Success!</title>
</head>
<body>
    <h2>Congrats {{ client.getName }}, you have rented {{ book.getTitle }}</h2>
    <h3>Take notes of the due date : {{ due_date }}</h3>
</body>
</html>
